@reference "../../../../globals.css";

.add-root-item-button__trigger {
  @apply rounded-lg bg-primary px-4 py-2 text-sm font-semibold text-primary-foreground;
}

.add-root-item-button__trigger:hover {
  @apply bg-primary/90;
}
